<div 
    class="card shadow-sm mb-4"
    [ngClass]="class"
    [ngStyle]="{'background-color': backgroundColor}"
>
  <div class="card-body">
    <ng-container *ngIf="isLoading; else notLoading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </ng-container>

    <ng-template #notLoading>
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'title-value'">
                <div class="row">
                    <div class="col-12 pt-2 text-start">
                        <p class="title">{{ item.title | translate }}</p>
                    </div>
                    <div class="col-12 text-end value">
                        <span [ngSwitch]="item.type">
                            <p *ngSwitchCase="'percent'">
                                {{ item.value | number: '1.2-2' }} %
                            </p>
                            <p *ngSwitchCase="'currency'">
                                {{ item.value | number:'1.2-2' }} IDR
                            </p>
                            <p *ngSwitchDefault>
                                {{ item.value | number:'1.2-2' }}
                            </p>
                        </span>
                        
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <ng-content></ng-content>
            </ng-container>       
        </ng-container>        
    </ng-template>

  </div>
</div>

