.tbl-container {
    width: 100%;

    &.bdr {
        border-radius: 6px;
        overflow: hidden;
    }
}
  
::ng-deep {
    table {
        border: 1px solid #dee2e6;

        thead th {
            background-color: #d6d2ff!important;
            padding: 16px 25px!important;
            line-height: 20px;
            color: #0e0e0e!important;
            font-size: 14px;
            font-weight: 700;
            vertical-align: middle;
        }

        tbody td{
            padding: 16px 25px!important;;
            line-height: 20px!important;;
            color: #0e0e0e!important;;
            font-size: 14px;
            vertical-align: middle;
        }

        .not-found {
            text-align: center;
        }
    }
}