.show_entries {
    padding-top: 12px;
    line-height: 20px;
    color: #606974;
    font-size: 13px;
    font-weight: 500;
}

.show_pagination {
    ul {
        padding: 0;
        margin: 0;
    }

    ul li {
        list-style: none;
        display: inline;
        margin: 0 5px;
    }
    
    select {
        font-size: 13px!important;
    }

    button:hover {
        background-color: var(--color-primary)!important;
        color: #fff!important;
        border-color: var(--color-primary)!important;
    }
    
    .active {
        background-color: var(--color-primary)!important;
        color: #fff!important;
        border-color: var(--color-primary)!important;        
    }

    .btn:disabled{
        cursor: not-allowed!important;
        background: #fff;
        color: #6c757d;
        border: 1px solid #e9ecef;
    }
}